.menuSelectionButton {
  background: var(--idle-selectionMenuButton);
  border-radius: 26px;
  height: 52px;
  width: 256px;
  border: none;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  color: #fcfcfc;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.menuSelectionButton:hover {
  background: var(--hover-selectionMenuButton);
}

.active {
  background: var(--active-selectionMenuButton) !important;
  border-radius: 26px;
  height: 52px;
  width: 256px;
  border: none;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  color: #fcfcfc;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.active:hover {
  background: var(--hover-selectionMenuButton);
}
