.btn-primary {
  margin: 0;
  outline: 0;
  border: 0;
  background-color: var(--color-tertiary);
  border-radius: 2.6rem;
  padding: 1.3rem 2.9rem 1.4rem 2.8rem;
  color: var(--color-grey-light-2);
  margin-top: 1rem;
  cursor: pointer;
}

.btn-primary:hover {
  opacity: 0.8;
  background-color: var(--color-tertiary-light);
}

.start-btn {
  width: 100%;
}
