.menuButton {
  background: var(--idle-menuButton);
  border-radius: 35px;
  height: 70px;
  width: 541px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #fcfcfc;
  transition: all 0.3s ease-in-out;
}

.menuButton:hover {
  background: var(--hover-menuButton);
}
