:root {
  /* menu button */
  --idle-menuButton: #fda214;
  --hover-menuButton: #ffb84a;

  /* selection menu buttons */
  --active-selectionMenuButton: #304859;
  --hover-selectionMenuButton: #6395b8;
  --idle-selectionMenuButton: #bcced9;

  /* primary button */
  --primary-button: #fda214;
  --primary-button-hover: #ffb84a;

  /* secondary button */
  --seconday-button: #dfe7ec;
  --seconday-button-hover: #6395b8;

  --cyan-blue: #7191a5;
  --light-cyan-blue: #6395b8;
  --lighter-cyan-blue: #bcced9;
  --medium-dark-blue: #304859;
  --dark-cyan-blue: #152938;
  --pure-white: #ffffff;
  --light-gray: #f2f2f2;
  --lighter-gray: #fcfcfc;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
